body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

h1 {
    text-align: center;
}

.job-card, .form-card {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    height: 120px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #0073e6;
    color: white;
    border: none;
    border-radius: 6px;
}

#message {
    font-weight: bold;
}